.image_container {
    height: 300px;
    width: 400px;
    background-position: center center;
    background-size: auto 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mainPage h1 {
    margin-left: 35px;
    font-family: 'Poppins', sans-serif;
    color: #292524;
}

.eventCard {
    padding-bottom: 1px;
    width: 400px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /* border: 1px solid grey; */
    margin: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.1);
}

.info_container {
    margin: 10px 15px;
}

.eventCard h2 {
    color: #292524;
    font-size: 1.3rem;
    margin-bottom: 7px;
}

.time-event {
    color: #991b1b;
    margin-top: 0px;
    margin-bottom: 5px;
}

.location-event {
    color: #525252;
    margin-top: 0px;
    margin-bottom: 5px;
}

.liked-event {
    margin-top: 0px;
    text-align: end;
    margin-bottom: 0px;
    color:#ce4040;
}

.eventCard:hover {
    box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.15);
}

.mainPage {
    width: 1500px;
    margin: 0 auto;
    padding:10px 30px;
}

.banner {
    width: 100%;
    height: 600px;
    background-position: center 25%;
    background-size: 100% auto;
}

.displayEvents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

.categories-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    padding-top: 10px;
}

.ind-tag {
    min-width: 310px;
    margin-right: 15px;
    border: 1px solid #eeedf2;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    background-color: #F8F7FA;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #525252;
    cursor: pointer;
}

.curr-selected {
    min-width: 310px;
    margin-right: 15px;
    border: 1px solid #d8d7da;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    background-color: #F8F7FA;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #525252;
    cursor: pointer;
}

.music-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #FDF7F5;
    color: #F05537;
}

